* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* HEADER */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}
