* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  padding: 10px 90px;
}

.header h1 {
  text-align: center;
  font-size: 36px;
  color: white;
}

.header a img {
  width: 80px;
}

/* FORM */
.trybewarts-login {
  display: flex;
  gap: 20px;
}

.trybewarts-login input {
  font-size: 14px;
  background: white;
}

.trybewarts-login input , .trybewarts-login button {
  width: 33%;
  border-radius: 5px;
  border: none;
  padding: 12px 10px;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.trybewarts-login button {
  cursor: pointer;
  color: white;
  background-color: rgb(78, 44, 131);
}

/* FORM e MAIN */
.main-container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

hr {
  width: 675px;
  margin: 30px 0;
}

/* FORM RADIO */
.container-radios {
  display: flex;
  gap: 30px;
}

.radio-family {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Courier New, Courier, monospace;
}

.radio-family h3 {
  font-size: 20px;
  padding-bottom: 10px;
}

.radio-family label {
  font-size: 14px;
  font-weight: 700;
}
